html{
	font-size: 1rem;
	}


/** button css **/
.btn{
  font-weight: bolder;
  border-radius: 5px;
  background-color: #00c7ae;
  color:white;
  text-align: center;
}


/** modal **/

.input-file-button{
  font-weight: bolder;
  border-radius: 5px;
  background-color: #00c7ae;
  color:white;
  cursor: pointer;
  text-align: center;

}

a :hover{
  background-color: #2b9d8f;
}

textarea{
  resize:none;
}

#modal-header{
  font-weight: 500;
  background: #00c7ae;
  font-size: 45px;
}

#Review-title{
  font-size: 47px;
  line-height: 1;
  font-weight: 400;
  color: white;
}





.starpoint_wrap{display:inline-block;

}
.starpoint_box{
position:relative;background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 0 no-repeat;font-size:0;
 width:120px;
}
.starpoint_box .starpoint_bg{
  display:block;position:absolute;
  top:0;
  left:0;
  height:18px;
  background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 -20px no-repeat;pointer-events:none;
}
.starpoint_box .label_star{
  display:inline-block;
  width:11px;
  height:18px;
  box-sizing:border-box;
}

.starpoint_box .star_radio{
  opacity:0;
  width:0;
  height:0;
  position:absolute;
}



.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg
{
  width:10%;
}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{
  width:20%;
}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{
  width:30%;
}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{
  width:40%;
}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{
  width:50%;
}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{
  width:60%;
}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{
  width:70%;
}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{
  width:80%;
}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{
  width:90%;
}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{
  width:100%;
}

.blind{
  position:absolute;
  clip:rect(0 0 0 0);
  margin:-1px;
  width:1px;
  height: 1px;
  overflow:hidden;
}



#custom-search-input{
  margin-top: 38px;
}

.input-group{
  margin-bottom: 50px;
}

/* .col-md-3{
  height: 60px;
  overflow: hidden;
  margin-bottom:10px;
  border-radius: 5px;
  border-color:#36c1ae;
  border: 5px groove #36c1ae;

} */

/* ------------민경----------------- */
#chat-container{	/* 전제 */
	width: 50%;
	margin: 0 25%;
	padding: 0;
	margin-bottom: 100px;
}

.chat-sort{
	width: 100%;
	padding: 0;
}
#chat-searchbar{
	width: 100%;
}

.chat-list{
	width: 100%;
	display: grid;
}
.chat-list .container{
	width: 100%;
	border-bottom: 1px solid lightgray;
	display: inline-block;
}
.container #chat-item{
	margin: 5px;
}
.chat-img{	/* 사진 직접 */
	border-radius: 5px;
}
#chat-img{
	width: 90px;
	margin: 10px 0;
	float: left;
}
.chat-text{
	width: 65%;
	height: 60px;
	line-height: 1;
	float: left;
	margin-top: 10px;
	margin-right: 10px; 
}
#chat-name{
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0;
	padding-bottom: 10px;
}
 .row a:link{
	color: black;
}
.row a:visited{
	color: black;
}
.row a :hover{
	background-color: white;
} 
#chat-msg{
	width: 100%;
	font-weight: lighter;
	font-size:20px;
}
#btn-close{
	width: 40px;
	border-radius: 50px;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-right: 10px;
}
#btn-complete{
	margin-top: 20px;
	width: 90px;
	float: right;
}
















