@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

/** base **/




@media (min-width: 1024px) {
  body > main {
    min-height: 65vh;
  }
}

h1, h2, h3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

a {
  color: #ced0db;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

input {
  color: #000;
  font-size: 14px;
}

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;
}

input:focus {
  border: 1px solid #00c7ae;
}

input[disabled] {
  background-color: #ddd;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%;
  }
}

.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo img {
  max-height: 37px;
}

/***** Forms *****/
.form {
  max-width: 650px;
}

.form{
  font-size: 13px;
  margin-top: 30px;
}

.form  label {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 5px;
}

.form  li {
  padding: 10px 0;
}

.form  li a:visited {
  color: #9398b0;
}

.user-nav {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .user-nav {
    position: relative;
  }
}

.nav-wrapper a {
  border: 0;
  color: #ced0db;
  display: none;
  font-size: 14px;
  padding: 0 20px 0 0;
  width: auto;
}

@media (min-width: 768px) {
  .nav-wrapper a {
    display: inline-block;
  }
}

.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
  background-color: transparent;
  color: #ced0db;
  text-decoration: underline;
}

.nav-wrapper {
  display: inline-block;
}

.nav-wrapper .icon-menu {
  display: inline-block;
  margin-right: 10px;
  color: #ced0db;
}

@media (min-width: 768px) {
  .nav-wrapper .icon-menu {
    display: none;
  }
}

/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  color: #363a3c;
  display: inline;
  font-weight: 500;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0 4px;
}

.breadcrumbs li a:visited {
  color: #ced0db;
}
/** search **/
.search {
  position: relative;
}

.search input[type="search"] {
  border: 1px solid #ddd;
  border-radius: 30px;
  box-sizing: border-box;
  color: #999;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 100%;
}

.search input[type="search"]:focus {
  border: 1px solid #00c7ae;
  color: #555;
}

.search::before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #ddd;
  content: "\1F50D";
  font-size: 18px;
  position: absolute;
  left: 15px;
}
/** header **/


.sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .sub-nav {
    align-items: baseline;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .sub-nav input[type="search"] {
    min-width: 300px;
  }
}

.sub-nav input[type="search"]::after {
  font-size: 15px;
}

/** section **/
.section {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 60px;
  }
}

/** category **/
.category-container {
  display: flex;
  justify-content: center;
}

.category-content {
  flex: 1;
}

@media (min-width: 1024px) {
  .category-content {
    flex: 0 0 80%;
  }
}

.section-tree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* @media (min-width: 768px) {
  .section-tree {
    flex-direction: row;
  }
} */

.section-tree .section {
  flex: initial;
}

@media (min-width: 768px) {
  .section-tree .section {
    flex: 0 0 45%;
  }
}

.section-tree ::before {
  vertical-align: baseline;
}

.section-tree-title {
  margin-bottom: 0;
}

.section-tree-title a {
  color: #363a3c;
}

.section-tree .see-all-articles {
  display: block;
  padding: 15px 0;
}

.article-list-item {
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  padding: 15px 0;
}

.article-list-item a {
  color: #363a3c;
}

.icon-star::before {
  color: #00c7ae;
  font-size: 22px;
}

/** icons **/
.icon-star::before {
  content: "\2605";
}

.icon-menu::before {
  content: "\2630";
}

/** noticesection **/

@media (min-width: 1024px)
.article-container {
    flex-direction: row;
}

.article-container {
    display: flex;

}


/** side bar **/

@media (min-width: 1024px)
.article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
    
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.article-sidebar {
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 34px;
}

.article-sidebar{
	 flex: 0 0 17%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 17%;
}

@media (min-width: 1024px)
.collapsible-sidebar {
    max-height: none;
    padding: 0;
}

.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    padding: 10px 0;
    position: relative;
}

.collapsible-sidebar-title {
    margin-top: 0;
}

.collapsible-sidebar[aria-expanded="true"] {
    max-height: none;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}

.collapse-sidebar-title {
    font-size: 18px;
    font-weight: 600;
}

.sidenav-item {
    border-radius: 4px;
    color: #363a3c;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}


/** main article **/
@media (min-width: 1024px)
.article {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
}

@media (min-width: 768px)
.article-header {
    flex-direction: row;
    margin-top: 0;
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (min-width: 768px)
.article-title {
    flex-basis: 100%;
}

.article-info {
    max-width: 100%;
  }

  .article-content {
      line-height: 1.6;
      margin: 40px 0;
      word-wrap: break-word;
  }

  .article-content {
      line-height: 1.6;
      margin: 40px 0;
      word-wrap: break-word;
  }
