


checkbox .custom-control-label:before {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.1875rem;
     background-color: #1BBC9B;
}


#id_pro_form #step1[data-v-9a592b28] .list-group-item label, 
#id_pro_form #step2[data-v-9a592b28] .list-group-item label, 
#id_pro_form #step3[data-v-9a592b28] .list-group-item label, 
#id_pro_form #step4[data-v-9a592b28] .list-group-item label {
    font-size: 1rem;
    text-indent: 2.25rem;
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}

 #id_pro_form #step1[data-v-9a592b28]  .list-group-item, 
 #id_pro_form #step2[data-v-9a592b28]  .list-group-item, 
 #id_pro_form #step3[data-v-9a592b28] .list-group-item, 
 #id_pro_form #step4[data-v-9a592b28] .list-group-item {
    color: #1BBC9B;
    background: #1BBC9B;
    border-color: #f2f2f2;
    padding: 0.75rem 1rem;
    
 
 }
 
 
 
 
 
 .lineParent{
    height: 100%;
    width:100%;
    align-items: center;
    position:absolute;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.stepTab{
    width: 20%;
    text-align: center;
    z-index: 2;
    
}
.square-tab {
    width: 50px;
    height: 50px;
    /*line-height: 45px;*/
    border-radius: 10px;
    background: #fff;
    border: 2px solid #e0e0e0;
    font-size: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}









/**
*
* @Name : CustomWebCheckbox
* @Version : 1.0
* @Programmer : Max
* @Date : 2018-11-24
* @Released under : https://github.com/BaseMax/CustomWebCheckbox/blob/master/LICENSE
* @Repository : https://github.com/BaseMax/CustomWebCheckbox
*
**/
/*
body
{
    background-color: #E1FEFE;
}
*/
.checkbox_container
{
    height: 50x;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    cursor: pointer;
    display: block;
    position: relative;
    /* #Bug: Cross Browser */
    user-select: none;
    margin-left: 14px;
}
.checkbox_container .checkbox_mark
{
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #eeeeee;
    /* #Bug: Cross Browser */
    border-radius: 4px;
}
.checkbox_container:hover input ~ .checkbox_mark
{
    background-color: #cccccc;
}
.checkbox_container input:checked ~ .checkbox_mark
{
    background-color: #00c7ae;
}
.checkbox_container input
{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox_container .checkbox_mark:after
{
    display: none;
    content: "";
    /*
    position: absolute;
    */
    position: relative;
}
.checkbox_container input:checked ~ .checkbox_mark:after
{
    display: block;
}
.checkbox_container .checkbox_mark:after
{
    width: 5px;
    height: 10px;
    top: 7px;
    left: 12px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    /* #Bug: Cross Browser */
    /*
    transform: rotate(405deg);
    */
    transform: rotate(45deg);
}


.writer_btn .btn_enter {
	background-color: #00c7ae;
	color: #fff;
	font-weight: normal;
	border-radius: 0px;
	border: 0;
	outline:0;
	transition-duration: 0.3s;

	
}

button.btn_enter:active {
background-color: #ffffff;
	color: #00c7ae;
	font-weight: normal;
	border-radius: 0px;
	border: 0;
	outline:0;
	transition-duration: 0.3s; 
    cursor: pointer;
    }


@media only screen and(max-width: 820px){
.writer_btn .btn_enter  {
	width: 62px;
	height: 33px;
	font-size: 10px;
	line-height: 34px;
	padding-top: 1px;

}





 