
/** base **/


.row {
    margin-right: -15px;
    margin-left: -15px;
}


/** section **/
.hero-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 610px;
    margin: 0 auto;
}

/**article-title**/
.articles-title {
    border-top: 1px solid #f3f5f6;
    color: #00c7ae;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}


p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (min-width: 1024px)
body > main {
    min-height: 65vh;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.article-body{
  width: auto;
  height: auto;
}

.articles {
    font-size: 14px;
    line-height: 24px;
    color: #363a3c;
    padding-bottom: 30px;
}


@media (min-width: 768px)
.container, .articles-title {
    width: 750px;
}


.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}


:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}


.row articles{
    margin-right: -15px;
    margin-left: -15px;
    font-size: 14px;
    line-height: 24px;
    color: #363a3c;
    padding-bottom: 30px;
}


div {
    display: block;
}


.col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px)
.col-md-4 {
    width: 33.33333333%;
}

@media (min-width: 992px)
.col-md-4{
    float: left;
}

.col-md-4{
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a {
    background-color: transparent;
}

a {
    color: #ced0db;
    text-decoration: none;
}

div.articles ul a li {
    color: #878d91;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}


/** h3 **/

h3 {
    font-size: 18px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
}

:root {
    --reach-menu-button: 1;
}

b, strong {
    font-weight: bold;
}

.wysiwyg-color-cyan120 {
    color: #099;
}

/** section **/
.section {
    margin-bottom: 40px;
}

.section-hero {
    background-image: url('https://cdn.imweb.me/thumbnail/20211122/9d922ef7a16ca.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 70%;
    margin-left:15%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .sub-nav {
    align-items: baseline;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .sub-nav input[type="search"] {
    min-width: 300px;
  }
}

.sub-nav input[type="search"]::after {
  font-size: 15px;
}

/** section **/
.section {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 60px;
  }
}

/** category **/
.category-container {
  display: flex;
  justify-content: center;
}

.category-content {
  flex: 1;
}

@media (min-width: 1024px) {
  .category-content {
    flex: 0 0 80%;
  }
}

.section-tree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* @media (min-width: 768px) {
  .section-tree {
    flex-direction: row;
  }
} */

.section-tree .section {
  flex: initial;
}

@media (min-width: 768px) {
  .section-tree .section {
    flex: 0 0 45%;
  }
}

.section-tree ::before {
  vertical-align: baseline;
}

.section-tree-title {
  margin-bottom: 0;
}

.section-tree-title a {
  color: #363a3c;
}

.section-tree .see-all-articles {
  display: block;
  padding: 15px 0;
}

.article-list-item {
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  padding: 15px 0;
}

.article-list-item a {
  color: #363a3c;
}

.icon-star::before {
  color: #00c7ae;
  font-size: 22px;
}

/** icons **/
.icon-star::before {
  content: "\2605";
}

.icon-menu::before {
  content: "\2630";
}

/** noticesection **/

@media (min-width: 1024px)
.article-container {
    flex-direction: row;
}

.article-container {
    display: flex;

}


/** side bar **/

@media (min-width: 1024px)
.article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.article-sidebar {
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 34px;
}

@media (min-width: 1024px)
.collapsible-sidebar {
    max-height: none;
    padding: 0;
}

.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    padding: 10px 0;
    position: relative;
}

.collapsible-sidebar-title {
    margin-top: 0;
}

.collapsible-sidebar[aria-expanded="true"] {
    max-height: none;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}

.collapse-sidebar-title {
    font-size: 18px;
    font-weight: 600;
}

.sidenav-item {
    border-radius: 4px;
    color: #363a3c;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}


/** main article **/
@media (min-width: 1024px)
.article {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
}

@media (min-width: 768px)
.article-header {
    flex-direction: row;
    margin-top: 0;
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (min-width: 768px)
.article-title {
    flex-basis: 100%;
}

.article-info {
    max-width: 100%;
  }

  .article-content {
      line-height: 1.6;
      margin: 40px 0;
      word-wrap: break-word;
  }

  .article-content {
      line-height: 1.6;
      margin: 40px 0;
      word-wrap: break-word;
  }

