@charset "UTF-8";
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
/* -----requests-main----- */
.requests-main{
	width: 50%;
	margin: 0 25%;
}
.requests-title{
	margin-bottom: 30px;
}
/* -----requests----- */
.requests{
	padding: 0;
	width: 100%;
}
.requests-ul{
	width: 100%;
	margin: 0;
	padding: 0;
}
.requests-li{
	cursor: pointer;
    display: inline-block;
    width: 95%; 
    border-bottom: 0.06rem solid #f2f2f2;
    padding: 2.5%;
}
.li-cont{
	width: 100%;
    background-color: #fff;
    display: inline-block;
} 
.li-img{
	float: left;
}
.li-img img{
	width: 120px;
	height: 120px;
	border-radius: 5px;
	margin-right: 20px;
}
.requests-info{
	margin: 20px 30px;
	padding-top: 15px;
	position:relative;
	display: inline;
}
.user-id{
	font-weight: bolder;
	margin-bottom: 20px;
} 
.details{
	width:70%;
    display: flex;
	margin-top: 20px;
	font-weight: bold;
	position: relative;
}
.details div{
	margin-right: 20px;
	color: #737373;
}
.details span{
	border: 1px solid #00c7ae;
	border-radius: 30px;
	padding: 5px 5px;
}
.on{
	background-color: #00c6ad;
}
.off{
	background-color: #00c6ad;
}
.li-del{
	float: right;
	font-weight: bolder;
	background-color: white;
	color: #737373;
	border-radius: 5px;
	border: 1px solid #737373;
	width: 50px;
	padding: 2px 6px;
	cursor: pointer;
}
.li-del:hover {
	background-color: #e1e1e1;
}
@media screen and (max-width: 1200px) {
  .requests{
	font-size: small;
  }
  .li-img img{
  	width: 70px;
  	height: 70px;
  }
}