@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
	
}
body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
}

/* 배너 */

.banner-box h1{
	position:relative;
	box-sizing: border-box;
	font-size: xx-large;
	margin-top:150px;
	}
h2{
	font-weight: bold;
	margin: 0;
	letter-spacing: normal;
}
	
.banner{
	width: 100%;
	height: 400px;
	background-color: #fff;
	box-sizing: border-box;
	display: block;
	
}
.banner-image{
	border-radius: 8px;
	display: flex;
	flex-wrap:wrap;
	vertical-align: middle;
	box-sizing: border-box;
	width: 70%;
	height: 400px;
	margin-left: 15%;
	align-content: center;
	vertical-align: middle;
	position:relative;
	
}
.banner-box {
	width:100%;
	height: 300px;
	text-align: center;
	box-sizing: border-box;
	display:flex;
	justify-content:center;
	color:white;
	position: absolute;
	margin:0;
	z-index:1;

}


.banner-image img{
	width: 100%;
	height: 400px;
	box-sizing: border-box;
	position: relative;
}



	

/* 카테고리 분야 */
.category{
	width: 100%;
	height: 200px;
	background-color: #fff;
	box-sizing: border-box;
	display: block;
}
.category-list{
	margin:0 auto;
	padding: 1rem;
	justify-content: space-between;
	height: unset;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	margin-bottom: 4rem;
	width: 70%;
	list-style-type: disc;
}
.category-box{
	list-style: none;
	width: 96px;
	height: 96px;
	margin: 0 auto;
	text-align: center;
}
.category-box:hover{
	transform: translate(0,-10px);
}
.category-icon{
	width: 96px;
	height: 96px;
	margin: 0 auto;
	text-align: center;
	border-radius: 8px; 
}
.category-icon:hover{
	cursor: pointer;
	background-color: #CFFFE5;
	box-shadow: 0 0 20px #CFFFE5;
	}
.category ul li div img{
	width: 96px;
	height: 70px;
	margin: 0 0 26px 0;
}
.category ul li div p{
	text-align: center;
	font-weight: bold;
	margin: 0;
}
.category ul li a{
	text-decoration: none;
}

/* 인기분야 */


.popular-sec{
	margin-top:30px;
	width: 100%;
	height: 600px;
	background-color: #fff;
	box-sizing: border-box;
	display: block;
	color:black;
}
.popular {
	margin:0 auto;
	width:70%;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	box-sizing: border-box;
}

.popular-box a{
	text-decoration: none;
	
}
.popular-box:link{
	text-decoration: none;
}

.popular-box{
    display: flex; 
    margin:10px auto;
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  }
 
  
  .popular-image{
  	margin:0 auto;
  	width:100%;
  	height: 240px;
  }
  .popular-image img{
  	width: 100%;
	height: 240px;
	margin: 0;
	border-radius: 10px;
  }
  
  .popular-job{
  	margin:0;
  	width:100%;
  	height: 30%;
  	text-align: center;
  	
  }
  
  /*모든 분야 */
  .all-service{
  width:100%;
  padding:3px;
  margin-top:100px;}
  
  .service-box{
  	
  	width:70%;
  	margin-top:80px;
  	margin-bottom:0;
  	margin-right:auto;
  	margin-left:auto;
  	list-style:none;
  	text-decoration:none;
  	text-align: center;
  	display: flex;
  	flex-wrap:wrap;
  	justify-content: space-between;
  }

  .service-box a{
  text-decoration: none;
  }
  .service-box span{
  	font-weight: bold;
  }
  #service{
  display: inline-block;
  	
  }
  #service li {
  text-align:left;}
  #service li a{
  color:darkgrey;}
  
  /*기타수정*/
  
  .mii{
  margin-top:100px;
  margin-left:15%}
  
  a:visited{
	color:black
}

.h22{
	width:70%;
  	margin:0 auto;
  	text-decoration:none;
  	margin-left:15%;
  	margin-right:auto;
  	margin-top:0;
  	margin-bottom:0;
  	
  	display: block;
	
}
h4{color:black;}